*.csv
*.bin
*.npy
.ipynb_checkpoints
*.gz
*.jpg
*.png
*.model
*.json
*.txt
*.pt
*.pth
*.ckpt
*.npy
*.zip
data/
ckpt/ 
cmn-eng/
real_or_drawing/
testing_data.txt
training_label.txt
training_nolabel.txt
checkpoint.pth
